body{
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #E0DACB;
  font-size: 14px;
  color: #000000;
}

.categorie-titre{
  font-size: 25px;
}

.sous-titre{
  font-size: 12px bold;
  color: #90A4AE;
  padding-bottom: 5px;
  padding-top: 5px;
}

.section-impair, .section-pair{
  padding-bottom: 30px;
  padding-top: 30px;
}

.section-pair{
  background-color: #3685B5;
}

.section-impair{
  background-color: #eeeef2;
}

.no-bullet{
  list-style: none;
}

#profile{
  background: url("../static/img/background.jpg") no-repeat center;
  text-align: center;
  background-size: cover;
}

.img-profile, .liste-profile{
  margin: auto;
  padding-bottom: 10px;
}

h1, h2, h3{
  color: #FFFFFF;
}

.list-group{
  width: 300px;
  text-align: left;
}

.input-group-lg{
  padding-bottom: 10px;
}

#contact .input-group-lg textarea{
  height: 150px;
}

@media (min-width: 0px) { 
    .categorie-titre, .sous-titre{
      text-align: left;
    }

    .section-impair, .section-pair{
      padding-left: 10px;
      padding-right: 10px;
    }
 }

 @media (min-width: 970px) {     
    .categorie-titre, .sous-titre{
      text-align: right;
    }
  }