body{
  font-family: 'Roboto', sans-serif;
  background-color: #eeeeee;
  font-size: 14px;
  color: #000000;
}

.categorie-titre{
  font-size: 25px;
}

.sous-titre{
  font-size: 11px;
  color: #90A4AE;
}

.section-pair{
  background-color: #f69779;
  padding-bottom: 30px;
  padding-top: 30px;
}

.section-impair{
  background-color: #eeeef2;
  padding-bottom: 30px;
  padding-top: 30px;
}

#profile{
  background: url("../static/img/background.jpg") no-repeat center;
}

.list-group{
  width: 300px;
  text-align: left;
}

@media (min-width: 0px) { 
    .categorie-titre{
      text-align: left;
    }

    .sous-titre{
      text-align: left;
    }
 }

 @media (min-width: 970px) {     
    .categorie-titre{
      text-align: right;
    }

    .sous-titre{
      text-align: right;
    }
  }






