body{
  font-family: 'Roboto', sans-serif;
  background-color: #E0DACB;
  font-size: 14px;
  color: #000000;
}

.categorie-titre{
  font-size: 25px;
}

.sous-titre{
  font-size: 12px bold;
  color: #90A4AE;
  padding-bottom: 5px;
  padding-top: 5px;
}

.section-pair{
  background-color: #3685B5;
  padding-bottom: 30px;
  padding-top: 30px;
}

.section-impair{
  background-color: #eeeef2;
  padding-bottom: 30px;
  padding-top: 30px;

}

#profile{
  background: url("../static/img/background.jpg") no-repeat center;
}

h1, h2, h3{
  color: #FFFFFF;
}

.list-group{
  width: 300px;
  text-align: left;
}

@media (min-width: 0px) { 
    .categorie-titre{
      text-align: left;
    }

    .sous-titre{
      text-align: left;
    }

    .section-impair{
      padding-left: 10px;
      padding-right: 10px;
    }
    .section-pair{
      padding-left: 10px;
      padding-right: 10px;
    }
 }

 @media (min-width: 970px) {     
    .categorie-titre{
      text-align: right;
    }

    .sous-titre{
      text-align: left;
    }
  }






